<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Tienda</title>

	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style.css" />
	<h:outputStylesheet library="css" name="pages/file-upload.css" />
	<h:outputStylesheet library="css" name="colors/default-dark.css" />
	<h:outputStylesheet library="css" name="colors/default-dark.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="bootstrap-material-datetimepicker.css" />
	
	<h:outputStylesheet library="css" name="jquery-clockpicker.min.css" />
	<h:outputStylesheet library="css" name="asColorPicker.css" />
	<h:outputStylesheet library="css" name="bootstrap-datepicker.min.css" />
	<h:outputStylesheet library="css" name="bootstrap-timepicker.min.css" />
	<h:outputStylesheet library="css" name="daterangepicker.css" />
	<h:outputStylesheet library="css" name="style2.css" />
</h:head>
<body>
	<section class="navigation">
	  <div class="nav-container">
	  	<nav>
			<ul class="nav-list">
				<li><a href="index.jsf">Registrar Cliente</a></li>
				<li><a href="#!">Registrar Proveedor</a></li>
				<li><a href="#!">Registrar Compra</a></li>
			</ul>
	    </nav>
	  </div>
	</section>

	<div class="row">
		<div class="col-sm-12">
			<div class="card card-body">
				<h4 class="card-title">Registro Cliente</h4>
				<h:form class="form-material m-t-40 row">
					<div class="form-material col-md-4 m-t-20">
						<label>* Nombre:</label>
						<h:inputText class="form-control form-control-line" value="#{registrarClienteBean.personVo.name}" rendered="true" />
					</div>
					
					<div class="form-material col-md-4 m-t-20">
						<label>* Email:</label>
						<h:inputText class="form-control form-control-line" value="#{registrarClienteBean.personVo.email}" rendered="true" />
					</div>
					
					<div class="col-md-4">
						<label class="m-t-20">Fecha nacimiento</label>
						<input type="text" value="#{registrarClienteBean.personVo.birthdate}" class="form-control" id="mdate" />
					</div> 
					
					<div class="form-material col-md-4 m-t-20">
						<label>* Telefono:</label>
						<h:inputText class="form-control form-control-line" value="#{registrarClienteBean.personVo.phone}" rendered="true" />
					</div>
					
					<div class="form-group col-md-4 m-t-20">
						<label>* Tipo Documento</label>
						<h:selectOneMenu class="form-control form-control-line" value="#{registrarClienteBean.documentType.id}">
							<f:selectItems value="#{registrarClienteBean.lstDocumentType}" var="documentType" itemLabel="#{documentType.name}" itemValue="#{documentType.id}" />
						</h:selectOneMenu>
					</div>
					
					<div class="form-material col-md-4 m-t-20">
						<label>* Numero Documento:</label>
						<h:inputText class="form-control form-control-line" value="#{registrarClienteBean.personVo.identification}" rendered="true" />
					</div>
					
					<div class="form-group col-md-4 m-t-20">
						<label>* Tipo Persona</label>
						<h:selectOneMenu class="form-control form-control-line" id="inlineFormCustomSelect" value="#{registrarClienteBean.kindPerson.id}">
							<f:selectItems value="#{registrarClienteBean.lstKindPerson}" var="kindPerson" itemLabel="#{kindPerson.name}" itemValue="#{kindPerson.id}" />
						</h:selectOneMenu>
					</div>
					<h:commandButton action="#{registrarClienteBean.guardarCliente()}" value="Guardar" />
				</h:form>
			</div>
		</div>
	</div>



	<script src="resources/js/jquery.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="resources/js/popper.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="resources/js/js/perfect-scrollbar.jquery.min.js"></script>
	<!--Wave Effects -->
	<script src="resources/js/waves.js"></script>
	<!--Menu sidebar -->
	<script src="resources/js/js/sidebarmenu.js"></script>
	<!--stickey kit -->
	<script src="resources/js/sticky-kit.min.js"></script>
	<script src="resources/js/jquery.sparkline.min.js"></script>
	<!--Custom JavaScript -->
	<script src="resources/js/custom.min.js"></script>
	<!-- ============================================================== -->
	<!-- This page plugins -->
	<!-- ============================================================== -->
	<script src="resources/js/jasny-bootstrap.js"></script>
	<!-- ============================================================== -->
	<!-- Style switcher -->
	<!-- ============================================================== -->
	<script src="resources/js/jQuery.style.switcher.js"></script>
	
	
	
	<script src="resources/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- Plugins for this page -->
    <!-- ============================================================== -->
    <!-- Plugin JavaScript -->
    <script src="resources/js/moment.js"></script>
    <script src="resources/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="resources/js/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="resources/js/jquery-asColor.js"></script>
    <script src="resources/js/jquery-asGradient.js"></script>
    <script src="resources/js/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="resources/js/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="resources/js/bootstrap-timepicker.min.js"></script>
    <script src="resources/js/daterangepicker.js"></script>
	
	<script>
    // MAterial Date picker    
    $('#mdate').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
    $('#timepicker').bootstrapMaterialDatePicker({ format: 'HH:mm', time: true, date: false });
    $('#date-format').bootstrapMaterialDatePicker({ format: 'dddd DD MMMM YYYY - HH:mm' });

    $('#min-date').bootstrapMaterialDatePicker({ format: 'DD/MM/YYYY HH:mm', minDate: new Date() });
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'
    });
    $('.clockpicker').clockpicker({
        donetext: 'Done',
    }).find('input').change(function() {
        console.log(this.value);
    });
    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show').clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker
    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    // Daterange picker
    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });
    </script>
</body>
</html>
